body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://marketplace.canva.com/EAFJ73kUcoc/2/0/1600w/canva-black-%26-yellow-happy-halloween-desktop-wallpaper-SukV1ePuQ1Q.jpg");
    background-size: cover;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
font-family: 'Cinzel Decorative', cursive;	
}

footer {
	font-style: italic;
	font-size: 90%;
}
